<div class="area">
  <div class="logo">
    <h1>Jesus & Co</h1>
    <h4>A company by JCR</h4>
  </div>
  <div class="stocks">
    <div class="stock">
      <strong>{{ currentStock | number : '1.0-2' }}</strong>
      <span>Acciones</span>
    </div>
    <div class="cash">
      <strong>${{ currentCash | number : '1.0-2' }}</strong>
      <span>Talentos</span>
    </div>
  </div>
  <div class="price">
    <h3>Precio de la acción</h3>
    <strong style="font-size: 36px;">${{ prices[currentRound] }}</strong>
  </div>
  <div class="total" style="margin-top: 30px;">
    <h3>Total</h3>
    <h3 style="font-size: 32px;">{{ prices[currentRound] * currentStock + currentCash | number : '1.0-2' }}</h3>
  </div>
  <hr>
  <div class="transaction">
    <input type="number" [(ngModel)]="quantity" placeholder="Acciones">
    <button class="buy" (click)="buy()">Comprar</button>
    <button class="sell" (click)="sell()">Vender</button>
  </div>
  <div class="bottom">
    <hr>
    <h2>Ronda {{ currentRound +1 }}</h2>
    <button (click)="changeRound()" style="font-size: 16px;">Cambiar</button>
    <input type="text" [(ngModel)]="password" placeholder="Contraseña">
  </div>
</div>